{% extends 'base.html' %}

{% block content %}
<form>
    <div class="row mb-4"></div>
    <div class="form-group">
        <h1>About DP: Our Mission, Services, and Commitment to Academic Integrity</h1>
        <div class="row mb-4"></div>
        <div class="row mb-4"></div>

        <h4><b><i>Welcome to our VFX tool for ChatGPT!</i></b></h4>
        <br><hr><br>

        <p>Our tool is designed to help students, academics, researchers, and anyone else who needs to create original content by identifying potential instances of plagiarism.
        <br><br>
        Using state-of-the-art technology, our plagiarism checker scans your text against a vast database of sources to identify any matches to existing content. Our tool is highly accurate and effective, helping you to avoid unintentional plagiarism and ensure that your work is properly cited and referenced.
        <br><br>
        Our plagiarism checker is easy to use and offers a range of features to suit your needs. Whether you need to check a single document or multiple files, our tool can handle it with ease. Our tool also offers a comprehensive report, highlighting any potential matches and giving you the confidence and peace of mind that your work is original and properly cited.
        <br><br>
        We are committed to providing a user-friendly and efficient plagiarism checking tool that can be accessed by anyone, anywhere in the world. Our tool is constantly updated and refined to ensure that we are providing the most accurate and reliable service possible.
        <br><br>
        <i><b>Thank you for choosing our plagiarism checker for ChatGPT. We look forward to helping you create original and authentic content.</b></i></p>
        <br><br>
{% endblock %}