{% extends 'base.html' %}

{% block content %}
<form>
    <div class="row mb-4"></div>
    <div class="form-group">
        <h1>About Plagiarism</h1>
        <div class="row mb-4"></div>

        <h4><b><i>Know more about Plagiarism!</i></b></h4>
        <br><hr><br>

        <h2>0% plagiarism</h2>
        <p>The work is completely original and does not contain any copied or borrowed material.</p>
        <br>

        <h2>1-5% plagiarism</h2>
        <p>The work may contain some minor instances of plagiarism, such as small phrases or sentences that are taken from other sources without proper citation. This level of plagiarism is usually considered acceptable in academic writing, as long as the sources are properly acknowledged.</p>
        <br>
        
        <h2>6-10% plagiarism</h2>
        <p>The work contains more significant instances of plagiarism, such as longer passages of text that are taken from other sources without proper citation. This level of plagiarism is generally considered unacceptable in academic writing, and may result in a lower grade or other consequences.</p>
        <br>
        
        <h2>11-25% plagiarism</h2>
        <p>The work contains a substantial amount of copied or borrowed material, and may include entire paragraphs or sections that are taken from other sources without proper citation. This level of plagiarism is typically viewed as serious academic misconduct and can result in severe consequences, including failing the assignment or course.</p>
        <br>
        
        <h2>26-50% plagiarism</h2>
        <p>The work is mostly or entirely copied from other sources, and contains very little original material. This level of plagiarism is considered to be extremely serious academic misconduct, and can result in severe consequences, such as failing the course, suspension, or expulsion.</p>
        <br>
        
        <h2>Over 50% plagiarism</h2>
        <p>The work is essentially a copy of another source, and contains almost no original material. This level of plagiarism is considered to be the most serious academic misconduct, and can result in severe consequences, including suspension or expulsion from school or university.</p>
        <br>

{% endblock %}