{% extends 'base.html' %}

{% block content %}
<form>
    <div class="row mb-4"></div>
    <div class="form-group">
        <h1>Copyright and Academic Integrity at VFX</h1>
        <div class="row mb-4"></div>
        <div class="row mb-4"></div>
        <hr>
        <p>Copyright is an important aspect of academic and professional integrity, and at VFX, we take it very seriously. All content on our website, including text, images, and graphics, is subject to copyright protection. Users may not copy, reproduce, or distribute any content from our website without prior written permission from COT.</p>
        <br><br>
        
        <p>Our plagiarism detection services are designed to help users ensure that their work is original and free from any potential instances of plagiarism. However, we strongly advise our users to always properly cite and reference any sources used in their work, even if no plagiarism is detected by our services. This is not only a matter of academic and professional integrity, but also a legal requirement in many cases.</p>
        <br><br>
        
        <p>We understand the importance of intellectual property and originality in academic and professional settings, and we are committed to helping our users maintain these standards. Our services are intended to be a tool for users to use in their own work, and we do not condone or support any form of plagiarism or academic dishonesty.</p>
        <br><br>
        
        <p>If you have any questions or concerns about copyright or academic integrity, please do not hesitate to contact us. We are always happy to provide guidance and support to our users to help them achieve their goals while maintaining the highest standards of academic and professional integrity.</p><br><br>

    </div>
    <div class="row mb-4"></div>
</form>


{% endblock %}