{% extends 'base.html' %}

{% block content %}
<form>
    <div class="row mb-4"></div>
    <div class="form-group">
        <h1 class="_3xWts-title">VFX tool by DP</h1>   
    </div>
</form>

<form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="vjanh-checkBlock">
        <div class="_1tx-t-checkTextBlock">
            <div class="row mb-4"></div>
            <div class="row mb-4"></div>
            <div class="_2UyJJ-wrapper">
                <div class="O6L3v-checkText">
                    <div class="_30TK9-textarea"><div class="row justify-content-center">
                        &nbsp;&nbsp;
                        <img src="static/check.png" alt="Check" width="250" height="250">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                 
                        <textarea class="form-control rounded-lg border-0 shadow-lg" name="textbox" rows="10" cols="10" placeholder="Type in your text prompt here!" maxlength="2000"></textarea>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="static/doc_check.png" alt="DocCheck" width="250" height="250">
                        &nbsp;&nbsp;
                    </div>
                </div>
                <div class="row mb-4"></div>
                <input type="submit" value="Submit" class="btn btn-primary">
                
            </div>
        </div>
    </div>
</form>

<form>
    <div class="row mb-4"></div>
    <div class="form-group">
        <h1> {{ message }} </h1>
        <img src = "{{url_for('static', filename = 'v1_txt2img_1.png' )}}"  width = "256" height = "256"/>
        <img src = "{{url_for('static', filename = 'v1_txt2img_2.png' )}}"  width = "256" height = "256"/>
        <img src = "{{url_for('static', filename = 'v1_txt2img_3.png' )}}"  width = "256" height = "256"/>
        <img src = "{{url_for('static', filename = 'v1_txt2img_4.png' )}}"  width = "256" height = "256"/>
    </div>
</form>



<div>
    <button onclick="downloadFile()">Download</button>
    <input type="text" placeholder="result.zip" class="tp">
</div>

<script>
    function downloadFile()
    {
        var url = "https://localhost:5000/output/result.zip"
        window.open("url");
    }
</script>

{% endblock %}