{% extends 'base.html' %}

{% block content %}

<form>
    <div class="row mb-4"></div>
    <div class="form-group">
        <h1>Privacy Policy</h1>
        <div class="row mb-4"></div>
        <div class="row mb-4"></div>

        <h4><b><i>We take the privacy of our users very seriously. This privacy policy outlines how we collect, use, and protect your personal information. By using our website, you agree to the terms of this privacy policy.</i></b></h4>
        <br><hr><br>

        <h2>What information do we collect?</h2>
        <p>We collect personal information that you provide to us when you use our website, such as your name, email address, and payment information. We also collect non-personal information, such as the pages you visit on our website and your IP address.</p>
        <br>

        <h2>How do we use your information?</h2>
        <p>We use your personal information to provide you with the services you request, such as plagiarism checking and customer support. We may also use your information to communicate with you about our services and promotions.
        <br><br>
        We do not sell or rent your personal information to third parties.</p>
        <br>

        <h2>How do we protect your information?</h2>
        <p>We use reasonable security measures to protect your personal information from unauthorized access and disclosure. However, we cannot guarantee that your information will be completely secure.
        <br><br>
        We use third-party payment processors to handle payment transactions. These payment processors have their own privacy policies, and we encourage you to review them before providing your payment information.</p>
        <br>

        <h2>Cookies</h2>
        <p>We use cookies to track your preferences and usage patterns on our website. Cookies are small data files that are stored on your device when you visit our website. You can disable cookies in your browser settings, but this may affect your ability to use our website.</p>
        <br>

        <h2>Third-party links</h2>
        <p>Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these websites.</p>
        <br>

        <h2>Changes to this privacy policy</h2>
        <p>We reserve the right to update this privacy policy at any time. If we make material changes to the policy, we will notify you by email or by posting a notice on our website.</p>
        <br>

        <h2>Contact us</h2>
        <p>If you have any questions or concerns about this privacy policy, please contact us at [insert email address].</p>
        <br>

{% endblock %}